<section class="section is-fluid">
    <h1 class="title">注文履歴</h1>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>取引日</th>
                <th>注文番号</th>
                <th>取引金額</th>
                <th>狀態</th>
                <th>支払い</th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <%# <% if not order.state == "cancelled" %>
                        <td><%= order.created_at %></td>
                        <td><%= order.num %></td>
                        <td><%= order.total_price %></td>
                        <% if order.state == "paid" %>
                            <td>決済</td>
                        <% elsif order.state == "pending" %>
                            <td>未決済</td>
                        <% else %>
                            <td>決済キャンセル</td>
                        <% end %>
                        <td>
                            <%= link_to '決済', pay_order_path(order), method: 'post', data: {confirm: "決済しますか？"}, class: 'button is-primary is-small' if order.may_pay? %>
                            <%= link_to 'キャンセル', cancel_order_path(order), method: 'delete', data:{confirm: "本当にキャンセルしますか？"}, class: 'button is-danger is-small' if order.may_cancel? %>
                        </td>
                    <%# <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>