<%= form_with(model: [:admin, product]) do |form| %>
  <%= form.label :cover_image, '商品画像', class: 'label' %>
  <%= form.file_field :cover_image %><br />
  <br />
  <%= image_tag form.object.cover_image.variant(resize: '600x400') if form.object.cover_image.attached? %>
  <hr>
  <div class="columns">
    <div class="column is-6">
      <div class="field">
        <%= form.label :name, '商品名前', class: 'label' %>
        <%= form.text_field :name, class: 'input is-medium' %>
      </div>
    </div>
    <div class="column is-2">
      <div class="field">
        <%= form.label :vendor_id, 'メーカー', class: 'label' %>
        <div class="select is-medium is-fullwidth">
          <%= form.collection_select :vendor_id, Vendor.available, :id, :title %>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="field">
        <%= form.label :category_id, 'ジャンル', class: 'label' %>
        <div class="select is-medium is-fullwidth">
          <%= form.collection_select :category_id, Category.all, :id, :name %>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :list_price, '定価', class: 'label' %>
        <%= form.number_field :list_price, class: 'input is-medium' %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :sell_price, '販売価格', class: 'label' %>
        <%= form.number_field :sell_price, class: 'input is-medium' %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.check_box :on_sell %>
    <%= form.label :on_sell, '商品を公開する', class: 'checkbox' %>
  </div>
 
  <div class="field">
    <%= form.label  :description, '商品説明', class: 'label' %>
    <%= form.rich_text_area :description %>
  </div>

  <hr>
  <h3 class="title is-6">在庫管理</h3>
  <div data-controller="product-form" >

    <template data-product-form-target="template">
      <%= form.fields_for :skus, Sku.new, child_index: 'NEW_RECORD'  do |sku| %>
        <%= render 'sku_fields', form: sku %>
      <% end %>
    </template>

    <%= form.fields_for :skus do |sku_form| %>
      <%= render 'sku_fields', form: sku_form %>
    <% end %>

    <div data-product-form-target="link">
      <%= link_to '品目追加', '#', class: 'button is-light is-small', data: {action: 'product-form#add_sku' } %>
    </div>

  </div>
  <hr>
  <%= form.submit class: 'button is-primary is-medium' %>
<% end %>